*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    background: url('https://raw.githubusercontent.com/ChikaiaDev/weather-app-using-javascript/master/back.jpeg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    [class*="col-"]{
        float: left;
        padding: 15px;
        border: 1px;
    }
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33%;}
  .col-11{width: 31.66%;}
  .col-12{width: 100%;}
  
  
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(223, 247, 239);
    }
nav{
    line-height: 50px;  
    border-bottom: 1px solid rgba(2, 2, 2, 0.096);   
    height: 60px;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.295);
    overflow: hidden;
    padding: 10px;
    position: relative;
}
#logo{
    float: center;
    color: rgb(92, 129, 207);    
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;

}
#weather p{
    font-weight: 300; 
}

.location, .temperature{
    height: 30vh;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.location canvas{
    margin: 20px;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section span{
    margin: 10px;
    font-size: 25px;
}
.degree-section h2{
    font-size: 35px;
}
#weather{
    padding: 10px;
    margin : 50px 10vw 0 10vw;
    border-radius: 10px;
    background: linear-gradient(rgba(184, 205, 245, 0.336), rgba(21, 75, 224, 0.479));
    height: 70vh;
}
.type{
    flex-direction: column;
    width: 60vw;
}